server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  output:
    ansi:
      enabled: always

management:
  endpoints:
    web:
      exposure:
        include: mappings

jwt:
  secret: ${JWT_SECRET}
  access-token-expire-ms: 3600000

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web.cors: DEBUG
