name: CI

on:
  pull_request:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  backend:
    name: Backend - Gradle test
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: miniblog
          POSTGRES_USER: mini
          POSTGRES_PASSWORD: mini1234
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U mini -d miniblog"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=10

    env:
      SPRING_DATASOURCE_URL: jdbc:postgresql://localhost:5432/miniblog
      SPRING_DATASOURCE_USERNAME: mini
      SPRING_DATASOURCE_PASSWORD: mini1234

    defaults:
      run:
        working-directory: backend/mini-blog-api

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: gradle

      - name: Make gradlew executable
        run: |
          ls -al
          chmod +x ./gradlew

      - name: Run tests
        run: |
          ./gradlew test --stacktrace

  frontend:
    name: Frontend - build
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: frontend

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node 20
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: npm
          cache-dependency-path: frontend/package-lock.json

      - name: Install deps
        run: npm ci

      - name: Build
        run: npm run build
